nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #66accf;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
    transition: all 0.3s ease;
    &:hover {
      background: #66accf;
      color: white;
    }
  }
  .logo {
    font-family: "KDA";
    color: #7ad2f3;
  }
}

@media screen and (max-width: 768px) {
  nav {
    margin-right: 1rem;
    button {
      z-index: 10;
      min-width: 90px;
    }
  }
}
