@font-face {
  font-family: "KDA";
  src: url("./fonts/KDA.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(56, 56, 56);
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(82, 82, 82);
}

.made-with {
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  min-width: 240px;
  transition: all 0.5s ease;
  a {
    color: #7ad2f3;
    text-decoration: none;
  }
}

.copyright {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  min-width: 450px;
  transition: all 0.5s ease;
}

.App {
  transition: all 0.5s ease;
  height: 100vh !important;
  overflow: hidden !important;
}

.library-active {
  margin-left: 20rem;
  left: 42%;
}

.z {
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .library-active {
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 472px) {
  .made-with {
    bottom: 35px;
  }
  .copyright {
    max-width: 350px;
    min-width: 350px;
  }
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import "./background";
